.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body,
#root,
.App {
  height: 100%;
}

.blink_me {
  animation: blinker 1s linear 1;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
